<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="connection-line">
        <div class="year-text">
            impact
        </div>
        <hr>
    </div>

    <div>
        <!-- {% for post in site.posts %}

            {% include short-read-card.html title=post.title url=post.url %}

        {% endfor %} -->
    </div>
  </body>

  <style>
    .connection-line {
        display: inline;
        width: 100%;
    }

    .year-text {
        font-size: 24px;
    }
    </style>
</html>
