<html>
<body>
  <div class="greatings">
    <div>Привет! Меня зовут Ренат Маннанов, </div>
    <div>Официально я project manager, в душе product, а по жизни кажется IT разнорабочий! ;)</div>
    <div>А этой мой личный сайт с блогом, страницей сотрудничества и интеграцией в соц.сетями.</div>
  </div> 

  <div class="info-cards">

    <div class="main-info-cards">

        {% 
          include info-cards.html
          url="/blog.html"
          type="blog" 
          title="блог" 
          description="пишу о житейских и рабочих историях, спорте и увлечениях, которые кажутся мне интересными и каким-то образом повлияли на мой трек развития. События, идеи и интересные пересечения между сферами." 
        %}

        {% 
          include info-cards.html
          type="contribution"
          url="#"
          title="сотрудничество" 
          description="темы в которых я силен и можно со мной поработать." %}

    </div>

    <div class="secondary-info-cards">

        {% 
          include info-cards.html
          url="#"
          type="skills" 
          title="навыки" 
          description="навыки и таймлайн их освоения." 
        %}

        {% 
          include info-cards.html
          url="#"
          type="track" 
          title="трек" 
          description="подробные пути моего развития с важными чек-поинтами. техниками и развивающими действиями (без воды как в блогах)." 
        %}

    </div>

  </div>
</body>

</html>

<style>
  .greatings {
    margin: 20px 30px 30px 30px;
    font-size: 22px;
    line-height: 24px;
  }

  .info-cards {
    margin: 30px;
    display: grid;
  }

  .main-info-cards, .secondary-info-cards {
    display: inline-flex;
  }
</style>  