<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <div class="greatings">
    <p>Привет! Меня зовут Ренат Маннанов, я IT разнорабочий ;)</p>
    <p>Тут ты найдешь мой блог и как можно со мной поработать. </p>
    <p>А немного позже добавлю профессиональный трек и навыки</p>
  </div> 

  <div class="info-cards">

    <div class="main-info-cards">

        {% 
          include info-cards.html
          url="/blog.html"
          type="blog" 
          title="блог" 
          description="пишу о житейских и рабочих историях, спорте и увлечениях, которые кажутся мне интересными и каким-то образом повлияли на мой трек развития. События, идеи и интересные пересечения между сферами" 
        %}

        {% 
          include info-cards.html
          type="contribution"
          url="#"
          title="сотрудничество" 
          description="темы в которых я силен и можно со мной поработать" %}

    </div>

    <div class="secondary-info-cards">

        {% 
          include info-cards.html
          url="#"
          type="skills" 
          title="навыки" 
          description="навыки и таймлайн их освоения" 
        %}

        {% 
          include info-cards.html
          url="#"
          type="track" 
          title="трек" 
          description="подробные пути моего развития с важными чек-поинтами. техниками и развивающими действиями (без воды как в блогах)" 
        %}

    </div>

  </div>
</body>

</html>

<style>
  .greatings {
    margin: 30px;
    font-size: 22px;
    line-height: 24px;
  }

  .info-cards {
    margin: 30px;
    display: grid;
  }

  .main-info-cards, .secondary-info-cards {
    display: inline-flex;
  }
</style>  