<html>

<body>
    <div class="panel">
        <!-- написать, чтобы при клике вешался класс active для постоянного подчеркивания, а при другом клике удалялся -->
        <!-- а также активировать/деактивировать кнопки, если таких тегов/категорий не существует -->
        <div class="btn subject all" onclick="filterObjects('all')">все</div>
        {% for cat in site.categories %}
        <div class="btn subject all {{ cat | first }}" onclick="filterObjects('{{ cat | first }}')">
            {% assign currentcat = cat | first %}
            {% if currentcat  == "personal" %}
                жизнь
            {% elsif currentcat  == "professional" %}
                работа
            {% elsif currentcat  == "sport" %}
                спорт
            {% elsif currentcat  == "hobby" %}
                увлечения
            {% endif %}
        </div>
        {% endfor %}
        <!-- <div class="btn subject skill" onclick="filterObjects('skill')">навыки</div> -->
    </div>
</body>

<style>
    .panel {
        display: inline-flex;
        padding: 0px 10px 0 10px;
    }

    .subject {
        text-decoration: none;
        padding: 0 20px 0 0;
        cursor: pointer;
    }

    .subject:hover {
        text-decoration: underline;

    }

    .subject.active {
        text-decoration: underline;
    }
</style>

</html>