<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="card {{ include.type }}" href="{{ post.url }}">
    <div class="container">
      <div class="title">
        {{ include.title }}
      </div>
      <div class="content">
        <p>
          {{ include.description }}
        </p>
      </div>

      <!-- <div class="cat-tag-line">
        <div class="categories-line">
          {% for category in post.categories %}
          <div class="categories {{ category }}">
            #{{ category }}
          </div>
          {% endfor %}
        </div>

        <div class="tags-line">
          {% for tag in post.tags %}
          <div class="tag {{ post.tags }}">
            #{{ tag }}
          </div>
          {% endfor %}
        </div>
      </div> -->

    </div>
  </div>
</body>

<style>
  .card.blog, .card.contribution {
    height: 430px;
    width: 700px;
  }

  .card.skills, .card.track {
    height: 205px;
    min-width: 460px;
  }
</style>

</html>