<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <a class="card box {{ post.tags }} {{ post.categories }}" href="{{ post.url }}">
    <div class="container">
      <div class="title">
        {{ post.title}}
      </div>
      <div class="content">
        {{ post.content }}
      </div>

      <div class="cat-tag-line">
        <div class="categories-line">
          {% for category in post.categories %}
          <div class="categories {{ category }}">
            <!-- #{{ category }} -->
            {% if category  == "personal" %}
              #жизнь
            {% elsif category  == "professional" %}
              #работа
            {% elsif category  == "sport" %}
              #спорт
            {% elsif category  == "hobby" %}
              #увлечения
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <div class="tags-line">
          {% for tag in post.tags %}
          <div class="tag {{ post.tags }}">
            <!-- #{{ tag }} -->
            {% if tag  == "long-read" %}
              #лонг-рид
            {% elsif tag  == "short-read" %}
              #шорт-рид
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </a>
  <script src="scripts.js"></script>
</body>

<style>
  /* классы  box и show для фильтрации по категориям*/
  .box {
    display: none;
  }

  .show {
    display: block;
  }
  /*  */

  /* придумать как менять класс между шорт/лонг рид */
  .card.short-read {
    width: 460px;
  }

  .card.long-read {
    width: 700px;
  }

  .card.skill {
    max-width: 219px !important;
  }

  /*  */
</style>

</html>