<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
  </head>

  <body>
    <div class="frame">
      <div class="title">
        {{ page.title }}
      </div>
      <div class="tags-line">
        {% for tag in page.tags %}
        <div class="tag personal">
          {{ tag }}
        </div>
        {% endfor %}
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>

  </body>
</html>

<style>
  html body {
    height: 93vh;
    font-family: 'IBM Plex Mono';
  }
  .frame {
    border: 1px solid;
    border-color: black;
    height: 100%;
    width: 50%;
    margin: 30px 0 30px 22px;
    padding: 16px 14px;
  }

  /* объединить в мейн.ксс со стилями их шорт-рид */
  .title {
    font-size: 24px;
    line-height: 24px;
    }

  .content {
    font-size: 16px;
    }

  .tags-line {
    display: inline-flex;
  }

  .tag {
    padding: 0 16px 0 0;
  }
  /*  */
</style>
