<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <title>{{ page.title }}</title>
</head>

<body>
  <div class="header">
    {% include header-logo.html %}
  </div>

  <div class="main-frame">  
    <div class="frame">
      <div class="title">
        {{ page.title }}
      </div>

      {% include cat-tag-line.html data=page %}

      <div class="content">
        {{ content }}
      </div>
    </div>

    <!-- <div class="connection-frame">
      {% include connection-block.html %}

      <div class="card-box">
        {% for skill in page.skills %}
          {% assign currenturl = "{{ site.baseurl }}blog/{{ skill }}" %}
          {% include post-cards.html title=skill type="post" %}
        {% endfor %}
      </div>
    </div> -->


  </div>



</body>

</html>

<style>
  html body {
    height: 93vh;
  }

  .main-frame {
    display: inline-flex;
    width: 100%;
    min-height: 93vh;
  }

  .frame {
    border: 1px solid;
    border-color: black;
    min-height: 90%;
    width: 50%;
    margin: 20px 0 30px 30px;
    padding: 16px 14px;
  }

  
  @media screen and (max-width: 500px) {

    .frame {
    min-height: 90%;
    width: 80%;
  }

  }
</style>